header
{
    padding: 10px;
    background-color: black;
}
nav
{
    background-color: darkgoldenrod;
    padding: 5px;
}

nav ul
{
    text-align: center;
    font-size: 1.2em;
}

nav ul li
{
    list-style-type: none;
    background-color: gray;
    display: inline;
    
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

nav ul li a
{
    color: white;
    text-decoration: none;
}

nav ul li:hover
{
    background-color: black;
}

#active 
{
    background-color: black;
}

body
{
    font-family: verdana;
    background-color: black;
    color: white;
}

.ModSection
{
    text-align: center;
    background-color: black;
    color: white;
    margin: 50px;
    border: 1px solid white;
    padding: 10px;
}

a
{
    color:white;
}

footer
{
    clear: both;
    background-color: darkgoldenrod;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: black;
    
    text-align: center;
}

.Choice
{
    text-align: center;
    float: left;
    Background-color: grey;
    color: black;
    height: 25%;
    width: 25%;
    padding: 10px;
    margin: 20px;
}